body {
  font-family: Arial, sans-serif;
  text-align: center;
}
input[type="number"] {
  padding: 15px;
  margin: 10px;
  border:none;
  font-size:20px;

}
button {
  padding: 15px 20px;
  background-color:grey;
  color: white;
  border: none;
  cursor: pointer;
  font-size:20px;
}
.container{
  background-color:aqua;
  width:500px;
  height:400px;
  padding-top:50px;
  margin-left:auto;
  margin-right:auto;
  margin-top:80px;
}
#result{
  font-size:20px;
}